body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  cursor: pointer;
  z-index: 1001;
}
.hamburger div {
  width: 100%;
  height: 4px;
  background-color: #333;
  margin: 4px;
  transition: all 0.3s ease;
}
.hamburger.active div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.hamburger.active div:nth-child(2) {
  opacity: 0;
}
.hamburger.active div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  z-index: 1000;
}
.overlay.active {
  transform: translateY(0);
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.overlay ul li {
  margin: 20px 0;
}
.overlay ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.overlay ul li a:hover {
  color: #3d91f5;
}
